# Node
frontend/node_modules/
frontend/build/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Database & uploads
backend/database.db
backend/uploads/

# Env files
.env
.venv/

# OS files
.DS_Store
Thumbs.db

# Uploads at root
uploads/
